.MobPage{
    position: relative;
}
.header{
    height: .8rem;
    width: 100%;
    background: #d53c34;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
}
.header .HeaderLeftIcon{
    flex: 1;
}
.header .SearchBox{
    flex: 8;
    margin: .1rem 0;
    border-radius: 7%; 
    background: white;
}
.header .HeaderRightIcon{
    flex: 1;
}
.header .HeaderRightIcon img{
    margin: .1rem;
    height: .6rem;
    width: .6rem;
}
.MobPage .MainBody{
    top: .8rem;
    position: absolute;
    width: 100%;
}

.MainBody .Icon{
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f3f5;
    padding-bottom: .5rem;
}
.Icon .IconItem{
    flex: 1;
    margin: .4rem;
    flex-direction: column;
}
.Icon .ImgBorder{
    border: 2px solid #d57778;
    border-radius: 100%;
    width:100%;
    height:100%;
    position: relative;
    flex: 6;
}
.ImgBorder img{
    height: 75%;
    width: 75%;
    position: absolute;
    top: .15rem;
    left: .15rem;
}
.IconItem .IconWords{
    margin: .01rem;
    display: block;
    position: absolute;
    flex: 1;
    color: #dddddd;
    font-size: .3rem;
}

.swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 3rem;
}

.RecommandList .StdBoxContainer{
    font-size: .24rem;
    color: #848484;
    margin-top: .6rem; 
}
.StdBoxContainer .TopWords{
    font-size: .32rem;
    padding-left: .2rem;
    border-left: 1px solid #db6259;
}
.StdBoxContainer .TopWords span{
    margin-left: .1rem;
    display: inline-block;
}

.StdBoxContainer .StdBoxList .StdBox{
    background: url();
    background-size: cover;
    position: relative; 
    width: 33%;
}
.StdBoxList .PopNumber{
    position: absolute;
    display: block;
    right: .1rem;
    top: .05rem;
}
.StdBoxList .BottomWords{
    position: absolute;
    display: block;
    bottom: 0;
}